* {
  margin: 0;
  padding: 0;
  font-family: "PingFangSC-Regular", "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* pre 换行 */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}